.age-verification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0593f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  text-align: center;
  font-family: Arial, sans-serif;

  .verifVideo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .verification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    position: relative;
    z-index: 2;

    img {
      width: 250px;
    }

    h1 {
      font-size: 18px;
      span {
        font-size: 32px;
        sub {
          font-size: 20px;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
      button {
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 99px;
        border: 3px solid rgb(184, 57, 35);
        color: rgb(184, 57, 35);
        transition: all 0.8s;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 18px;
        &:hover {
          border-color: white;
          color: white;
          background-color: rgb(184, 57, 35);
        }
      }
    }
  }

  /* Плавное появление */
  .fade-in {
    animation: fadeIn 1.2s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
