.slideComponent {
  min-height: 736px;
  max-height: 800px;
  padding-bottom: 64px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #fef5e1;

  .slider {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .textPart {
      max-width: 320px;
      h2,
      p {
        opacity: 0;
        transform: translate(-50%);
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-name: none;
      }
    }

    img {
      width: 465px;
      height: 100%;
      position: absolute;
      left: 54%;
      right: auto;
      top: 0;
      transform: translate(-50%);
    }

    a {
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translate(50%);
      animation-duration: 0.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-name: none;

      svg {
        font-size: 28px;
        margin-left: 10px;
      }
    }
  }

  &.animate {
    .textPart {
      h2 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 400;
        animation-name: toBe;
        animation-delay: 1.3s;
      }

      p {
        line-height: 1.8;
        font-size: 18px;
        animation-name: toBe;
        animation-delay: 1.5s;
      }
    }

    a {
      animation-name: toBeLink;
      animation-delay: 1.9s;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slideComponent {
    min-height: 500px;
    .slider {
      margin: auto;
      max-width: 1024px;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 64px;

      .textPart {
        max-width: 320px;
      }

      img {
        width: 346px;
        height: 520px;
        position: unset;
        transform: translate(0);
      }

      a {
        width: 100%;
        justify-content: center;
        padding-top: 64px;
        opacity: 0;
        transform: translate(50%);
      }
    }

    &.animate {
      .textPart {
        h2 {
          animation-name: toBe;
          animation-delay: 1.3s;
        }

        p {
          animation-name: toBe;
          animation-delay: 1.5s;
        }
      }

      a {
        animation-name: toBeLink;
        animation-delay: 1.9s;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .slideComponent {
    align-items: start;
    justify-content: center;
    margin-top: 30px;
    
    .slider {
      margin: 0;
      width: 405px;
      height: 469px;
      padding: 0;
      row-gap: 120px;
      column-gap: 100px;

      .textPart {
        max-width: 162px;
        max-height: 365px;
      }

      img {
        width: 243px;
        height: 365px;
        position: absolute;
      }

      a {
        width: 100%;
        font-size: 16px;
        padding: 0;
        svg {
          font-size: 20px;
          margin-left: 8px;
        }
      }
    }

    &.animate {
      .textPart {
        h2 {
          margin-bottom: 10px;
          font-size: 30px;
          animation-name: toBe;
          animation-delay: 1.3s;
        }

        p {
          line-height: 1.5;
          font-size: 16px;
          animation-name: toBe;
          animation-delay: 1.5s;
        }
      }

      a {
        animation-name: toBeLink;
        animation-delay: 1.9s;
      }
    }
  }
}

@keyframes toBe {
  from {
    opacity: 0;
    transform: translate(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes toBeLink {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
