.productCard {
  height: 650px;
  position: relative;
  padding: 25px 45px;
  border: 2px solid #fef5e1;
  background-color: #b83923f1;
  color: white;
  .prodDescription {
    position: absolute;
    width: 270px;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    .prodTitle {
      width: 280px;
      padding: 0 10px 0 0;
      height: 84px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      opacity: 0;
      transform: translate(50%);
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-name: none;
      h2 {
        position: absolute;
        font-size: 48px;
        letter-spacing: 2px;
        left: 5px;
        top: 16px;
        transform: scaleY(1.8);
      }
      .bWine {
        font-size: 24px;
        line-height: 0.99;
        top: 20px;
      }
      .titleColor {
        width: 100%;
        height: 47%;
        border-radius: 6px;
      }
    }
    .prodStats {
      margin: 10px 0 20px 0;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transform: translate(50%);
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-name: none;
      .abv {
        padding-top: 10px;
        border-top: 5px solid;
      }
      .ibu {
        padding-top: 10px;
        border-top: 5px solid;
      }
    }
    .prodContent {
      opacity: 0;
      transform: translate(50%);
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-name: none;
      .hr {
        width: 90%;
        height: 3px;
        border-radius: 10px;
        margin: 10px 0;
      }
    }
  }
  img {
    transition: all 1s;
    position: absolute;
    width: 270px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(20px 10px 15px #000);
  }
  a {
    cursor: pointer;
    position: absolute;
    padding: 8px 18px;
    border-radius: 99px;
    border: 3px solid rgb(184, 57, 35);
    color: rgb(184, 57, 35);
    transition: all 0.8s;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover {
      border-color: white;
      color: white;
      background-color: rgb(184, 57, 35);
    }
  }
  &:hover {
    img {
      left: 15%;
    }
    .prodTitle {
      margin-bottom: 25px;
      animation-name: toBe;
      animation-delay: 1.1s;
    }
    .prodStats {
      opacity: 0;
      animation-name: toBe;
      animation-delay: 1.1s;
    }
    .prodContent {
      animation-name: toBe;
      animation-delay: 1.4s;
    }
  }
}

@media screen and (max-width: 1024px) {
  .productCard {
    width: 100vw;
    height: 800px;
    border: none;
    border-bottom: 2px solid white;
    padding: 25px 35px;
    .prodDescription {
      width: 220px;
      .prodTitle {
        width: 220px;
        height: 50px;
        h2 {
          font-size: 30px;
          top: 14px;
        }
        .bWine {
          width: 70%;
          font-size: 14px;
          line-height: 1.1;
          top: 13px;
        }
        .titleColor {
          width: 100%;
          height: 45%;
          border-radius: 8px;
        }
      }
    }
  }
}

@keyframes toBe {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
