@font-face {
  font-family: "Arkhip";
  src: url("../../Fonts/Arkhip/Arkhip_font.ttf");
}

.productsSection {
  padding-top: 90px;
  font-family: "Arkhip";

  .productsHandler {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

/* Планшет: 2 карточки в ряд */
@media screen and (max-width: 1024px) {
  .productsSection {
    padding-top: 0px;
    .productsHandler {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Мобильный: 1 карточка в ряд */
@media screen and (max-width: 768px) {
  .productsSection {
    .productsHandler {
      grid-template-columns: 1fr;
    }
  }
}
