.productsSection {
  padding-top: 90px;
  .productsHandler {
    display: grid;
    grid-template-columns: repeat(3, 650px);
    grid-template-rows: repeat(2, 700px);
    justify-content: center;
  }
}
