.cardSection {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 124.5px);
  grid-template-rows: repeat(2, 313.5px);
  .cardItem {
    overflow: hidden;
    position: relative;
    transition: 0.8s ease;
    grid-column: 1 / span 8;
    grid-row: 1 / 3;
    img {
      transition: all 0.5s;
      width: 100%;
      height: 100%;
      filter: grayscale(50%);
    }
    &:hover {
      img {
        transform: scale(1.1);
        filter: none;
      }
      .textBox {
        max-height: 300px;
        .moreText {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .textBox {
      position: absolute;
      max-width: 288px;
      height: auto;
      left: 22px;
      bottom: 22px;
      padding: 32px;
      background: linear-gradient(to bottom, #fff8c6, #f5d76e, #e4b94e);
      opacity: 0;
      transform: translateY(40px);
      transition: 0.8s ease, transform 0.8s ease, max-height 0.6s ease;
      z-index: 9;
      overflow: visible;
      max-height: 100px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: height 0.6s ease-in-out;
      }

      &.active {
        opacity: 1;
        transform: translateY(0);

        &::before {
          height: 100%;
        }
      }

      .textSpan,
      .textTitle {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s ease 0.4s, transform 0.5s ease 0.4s;
      }

      &.active .textSpan,
      &.active .textTitle {
        opacity: 1;
        transform: translateY(0);
      }

      .moreText {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: block;
        margin-top: 12px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .cardSection {
    grid-template-columns: repeat(12, 60.6px);
    grid-template-rows: repeat(2, 165.5px);
    .cardItem {
      grid-column: 1 / span 8;
      grid-row: 1 / 3;
    }
  }
}
