.slideComponent {
  width: 100%;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #b83923f1;

  .slider {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .textPart {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 20px;
      opacity: 0;
      transform: translate(50%);
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-name: none;

      .prodTitle {
        padding: 0 10px 0 0;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        h2 {
          position: absolute;
          font-size: 43px;
          letter-spacing: 2px;
          left: 5px;
          top: 12px;
          transform: scaleY(1.8);
          // text-align: center;
          color: white;
        }
        .titleColor {
          width: 100%;
          height: 45%;
          border-radius: 8px;
        }
      }
      p,
      .buyLink {
        opacity: 0;
        transform: translate(-50%);
        animation: none;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        color: white;
      }
      hr {
        width: 100%;
      }
    }
    .prodLink {
      width: 230px;
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translate(50%);
      animation: none;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      font-size: 14px;
      color: white;

      svg {
        font-size: 25px;
        margin-left: 10px;
      }
    }

    img {
      opacity: 0;
      width: 465px;
      height: 95%;
      transform: translate(50%);
      border-radius: 4px;
      animation: none;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  &.animate {
    .textPart {
      animation-name: toBe;
      animation-delay: 1.5s;
      .prodTitle h2 {
        font-weight: 400;
      }
      p {
        line-height: 1.8;
        animation-name: toBe;
        animation-delay: 1.5s;
      }
      .buyLink {
        cursor: pointer;
        padding: 8px 18px;
        border-radius: 99px;
        border-color: white;
        color: white;
        border: 3px solid white;
        transition: all 0.8s;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 18px;
        animation-name: toBe;
        animation-delay: 1.5s;

        &:hover {
          color: rgb(184, 57, 35);
          border: 3px solid rgb(184, 57, 35);
          background-color: white;
        }
      }
      .prodLink {
        animation-name: toBeLink;
        animation-delay: 1.5s;
      }
    }

    img {
      animation-name: toBe;
      animation-delay: 1s;
    }
  }
}

// -------------------- Responsive --------------------

@media screen and (max-width: 1024px) {
  .slideComponent {
    min-height: 500px;
    padding: 30px 64px;

    .slider {
      max-width: 1024px;
      flex-wrap: wrap;
      margin: auto;
      align-items: center;
      column-gap: 0;

      .textPart {
        max-width: 320px;
        row-gap: 30px;
        p {
          line-height: 1.5;
          font-size: 14px;
        }
      }

      img {
        width: 346px;
        height: 520px;
        position: static;
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .slideComponent {
    align-items: flex-start;
    justify-content: center;
    padding: 30px 24px;
    .slider {
      width: 100%;
      height: 500px;
      margin: 0;
      padding-top: 32px;
      flex-direction: column;
      align-items: start;
      column-gap: 0;
      row-gap: 0;

      .textPart {
        width: 220px;
        row-gap: 20px;
        p {
          width: 100%;
        }
        .buyLink {
          font-size: 12px;
        }
      }

      img {
        width: 160px;
        height: 320px;
        position: absolute;
        top: 25%;
        right: 0;
        transform: translateY(-25%);
      }

      .prodLink {
        // width: 100%;
        font-size: 12px;

        svg {
          font-size: 20px;
          margin-left: 8px;
        }
      }
    }

    &.animate {
      .textPart {
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          font-size: 12px;
          line-height: 1.5;
        }
        button {
          padding: 8px 12px;
          letter-spacing: 0;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

// -------------------- Animations --------------------

@keyframes toBe {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes toBeLink {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
