.slideComponent {
  width: 100%;
  min-height: 780px;
  max-height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #b83923f1;
  padding: 0 96px;

  .slider {
    width: 1728px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 600px;

    .textPart {
      max-width: 420px;

      h2,
      p,
      button {
        opacity: 0;
        transform: translate(-50%);
        animation: none;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        color: white;
      }
    }

    img {
      width: 465px;
      height: 95%;
      position: absolute;
      left: 54%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
    }

    a {
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translate(50%);
      animation: none;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      font-size: 20px;
      color: white;

      svg {
        font-size: 28px;
        margin-left: 10px;
      }
    }
  }

  &.animate {
    .textPart {
      h2 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 400;
        animation-name: toBe;
        animation-delay: 1.3s;
      }
      p {
        line-height: 1.8;
        font-size: 18px;
        animation-name: toBe;
        animation-delay: 1.5s;
      }
      button {
        margin-top: 20px;
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 99px;
        border: 3px solid rgb(184, 57, 35);
        color: rgb(184, 57, 35);
        transition: all 0.8s;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 18px;
        animation-name: toBe;
        animation-delay: 1.7s;

        &:hover {
          border-color: white;
          color: white;
          background-color: rgb(184, 57, 35);
        }
      }
    }

    a {
      animation-name: toBeLink;
      animation-delay: 1.9s;
    }
  }
}

// -------------------- Responsive --------------------

@media screen and (max-width: 1024px) {
  .slideComponent {
    min-height: 500px;
    padding: 30px 64px;

    .slider {
      max-width: 1024px;
      flex-wrap: wrap;
      margin: auto;
      align-items: center;
      column-gap: 0;

      .textPart {
        max-width: 320px;
      }

      img {
        width: 346px;
        height: 520px;
        position: static;
        transform: none;
      }

      a {
        width: 100%;
        justify-content: center;
        padding-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .slideComponent {
    align-items: flex-start;
    justify-content: center;
    padding: 30px 24px;
    .slider {
      width: 100%;
      height: 500px;
      margin: 0;
      padding-top: 32px;
      flex-direction: column;
      align-items: start;
      column-gap: 0;
      row-gap: 0;

      .textPart {
        max-width: 162px;
      }

      img {
        width: 160px;
        height: 320px;
        position: absolute;
        top: 25%;
        right: 0;
        transform: translateY(-25%);
      }

      a {
        width: 100%;
        font-size: 16px;

        svg {
          font-size: 20px;
          margin-left: 8px;
        }
      }
    }

    &.animate {
      .textPart {
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          font-size: 12px;
          line-height: 1.5;
        }
        button {
          padding: 8px 12px;
          letter-spacing: 0;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

// -------------------- Animations --------------------

@keyframes toBe {
  from {
    opacity: 0;
    transform: translate(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes toBeLink {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
